<div id="container" >
  <div style="text-align:center">
    <h1>
      Grid Automobile BOM
    </h1>
  </div>
  <div class="return-message alert alert-info">{{message}}</div>
  <div class="toolbar">
      <button type="button" id="loadData" class="btn btn-success" (click)="loadData($event)">Load Data</button>
      <button type="button" id="saveData" class="btn btn-success" (click)="saveData($event)">Save Data</button>
  </div>
  <div id="content">
      <ag-grid-angular
                        class="ag-fresh"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [gridOptions]="gridOptions"
                        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
  </div>
</div>